<tr id='<%= evaluation.evaluation_id %>' style='cursor: pointer'>
  <td class='performed_at <%= state_to_class(evaluation.state) %>'>
    <%= time_to_string(evaluation.performed_at) %>
  </td>
  <td class='model <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.model %>
  </td>
  <td class='data_source <%= state_to_class(evaluation.state) %>'>
    <%= data_source_option.invert[evaluation.data_source] %>
  </td>
  <td class='num_data <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.num_data %>
  </td>
  <td class='state <%= state_to_class(evaluation.state) %>'>
    <%= progress(evaluation) %>
  </td>
  <td class='precision <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.precision&.round(3) %>
  </td>
  <td class='recall <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.recall&.round(3) %>
  </td>
  <td class='specificity <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.specificity&.round(3) %>
  </td>
  <td class='f_measure <%= state_to_class(evaluation.state) %>'>
    <%= evaluation.f_measure&.round(3) %>
  </td>
  <td class='download' style='background-color: white; cursor: default'>
    <%= evaluation_data_download_button(evaluation) %>
  </td>
</tr>
