<tr id='<%= evaluation.evaluation_id %>' class='<%= row_class(evaluation.state) %>'
    title='<%= row_title(evaluation.state) %>' data-state='<%= evaluation.state %>'
    data-bs-toggle='tooltip' data-bs-trigger='hover' data-bs-offset='-500,0'>
  <td class='performed_at'>
    <%= time_to_string(evaluation.performed_at) %>
  </td>
  <td class='model'>
    <%= evaluation.model %>
    <button class='btn btn-sm btn-<%= state_to_class(evaluation.state) %> btn-param float-end'>
      パラメーターを確認
    </button>
  </td>
  <td class='data_source'>
    <%= evaluation_data_source_option.invert[evaluation.data_source] %>
  </td>
  <td class='num_data'>
    <%= evaluation.num_data %>
  </td>
  <td class='state'>
    <%= progress(evaluation) %>
  </td>
  <td class='f_measure'>
    <%= evaluation.f_measure&.round(3) || 0.0 %>
  </td>
  <td class='download' style='background-color: white; cursor: default'>
    <%= evaluation_data_download_button(evaluation) %>
  </td>
</tr>
