<tr>
  <td class='<%= state_to_class(evaluation.state) %>'>
    <%= time_to_string(evaluation.created_at) %>
  </td>
  <td class='<%= state_to_class(evaluation.state) %>'>
    <%= evaluation.model %>
  </td>
  <td class='<%= state_to_class(evaluation.state) %>'>
  <% if %w[waiting error].include?(evaluation.state) %>
    <%= progress(evaluation) %>
  <% else %>
    <button id='<%= evaluation.evaluation_id %>' class='btn btn-xs btn-<%= state_to_class(evaluation.state) %> btn-result' title='詳細を確認'>
      <%= progress(evaluation) %>
      <span class='glyphicon glyphicon-new-window'></span>
    </button>
  <% end %>
  </td>
  <td class='<%= state_to_class(evaluation.state) %>'>
  <% if evaluation.state == 'completed' %>
    <%= evaluation.precision&.round(3) %>
  <% end %>
  </td>
  <td class='<%= state_to_class(evaluation.state) %>'>
  <% if evaluation.state == 'completed' %>
    <%= evaluation.recall&.round(3) %>
  <% end %>
  </td>
  <td class='<%= state_to_class(evaluation.state) %>'>
  <% if evaluation.state == 'completed' %>
    <%= evaluation.f_measure&.round(3) %>
  <% end %>
  </td>
  <td class='download'>
    <%= download_button(evaluation) %>
  </td>
</tr>
