<tr id='<%= evaluation.evaluation_id %>' class='table-<%= row_class(evaluation.state) %>'
    title='<%= row_title(evaluation.state) %>' data-state='<%= evaluation.state %>'>
  <td class='performed_at'>
    <%= time_to_string(evaluation.performed_at) %>
  </td>
  <td class='model'>
    <%= evaluation.model %>
  </td>
  <td class='data_source'>
    <%= evaluation_data_source_option.invert[evaluation.data_source] %>
  </td>
  <td class='num_data'>
    <%= evaluation.num_data %>
  </td>
  <td class='state'>
    <%= progress(evaluation) %>
  </td>
  <td class='precision'>
    <%= evaluation.precision&.round(3) || 0.0 %>
  </td>
  <td class='recall'>
    <%= evaluation.recall&.round(3) || 0.0 %>
  </td>
  <td class='specificity'>
    <%= evaluation.specificity&.round(3) || 0.0 %>
  </td>
  <td class='f_measure'>
    <%= evaluation.f_measure&.round(3) || 0.0 %>
  </td>
  <td class='download' style='background-color: white; cursor: default'>
    <%= evaluation_data_download_button(evaluation) %>
  </td>
</tr>
