<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-evaluation' class='well'>
      <h3>モデルを評価</h3>
      <%= form_for @evaluation, html: {multipart: true}, url: evaluations_path, remote: true do |f| %>
        <div class='form-group'>
          <%= f.label :model, 'モデル' %><br />
          <%= f.file_field :model, name: :model %>
        </div>
        <div class='form-group'>
          <%= f.label :data, '評価データ' %>
          <span style='float:right'>
            <%= label_tag :data_source, '指定方法:' %>
            <%= select_tag :data_source, options_for_select(data_source_option) %>
          </span>
          <% params = {class: 'form-data-source not-selected', name: :data, disabled: true} %>
          <%= f.file_field :data, params.merge(id: 'evaluation_data_file') %>
          <% params = {class: 'form-control form-data-source not-selected', name: :data, disabled: true} %>
          <%= f.text_area :data, params.merge(id: 'evaluation_data_text', value: '', style: 'resize:vertical') %>
          <%= f.text_field :data, params.merge(id: 'evaluation_data_random', name: :num_data, value: '') %>
        </div>
        <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
        <%= f.submit 'リセット', type: 'reset', class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8 well'>
    <h3 class='table-title'>ジョブ実行履歴</h3>
    <% from = @evaluations.total_count.zero? ? 0 : @evaluations.offset_value + 1 %>
    <% to = @evaluations.offset_value + @evaluations.size %>
    <% info = {total_count: @evaluations.total_count, from: from, to: to} %>
    <h4 class='pagination-info'><%= t('views.pagination.info', info) %></h4>
    <%= paginate @evaluations %>
    <table id='table-evaluation' class='table table-hover'>
      <thead>
        <% evaluation_table_headers.each do |header| %>
          <th width='<%= header[:width] %>%'><%= header[:name] %></th>
        <% end %>
        <th width='10%' style='border: none'></th>
      </thead>
      <tbody>
        <%= render @evaluations %>
      </tbody>
    </table>
  </div>
</div>
