<% numbers = datum.prediction_results.where(won: true).map(&:number).sort %>
<tr id='<%= datum.race_id %>' class='table-<%= datum_row_class(numbers, datum) %>'>
  <td>
    <%= datum_counter + 1 %>
  </td>
  <td>
    <%= link_to datum.race_url, {target: :_blank} do %>
      <%= datum.race_name %>
      <span class='bi bi-box-arrow-up-right'></span>
    <% end %>
  </td>
  <td class='result' style='padding: 4px'>
  <% numbers.each do |number| %>
    <span class='fa-layers fa-fw fa-2x prediction-result' style='color: <%= span_color(number, datum.ground_truth) %>'>
      <i class='fa fa-circle'></i>
      <i class='fa-layers-text fa-inverse fa-xs'><%= number %></i>
    </span>
  <% end %>
  </td>
  <td style='padding: 4px'>
    <span class='fa-layers fa-fw fa-2x prediction-result' style='color: limegreen'>
      <i class='fa fa-circle'></i>
      <i class='fa-layers-text fa-inverse fa-xs'><%= datum.ground_truth %></i>
    </span>
  </td>
</tr>
