<tr class='<%= state_to_class(prediction.state) %>'>
  <td>
    <%= time_to_string(prediction.created_at) %>
  </td>
  <td>
    <%= prediction.model %>
  </td>
  <td class='td-test-data'>
  <% if prediction.test_data.match(URI.regexp(%w[http https])) %>
    <%= link_to prediction.test_data, {:target => :_blank} do %>
      <%= link_text(prediction.test_data) %>
      <span class='glyphicon glyphicon-new-window new-window'></span>
    <% end %>
  <% else %>
    <%= prediction.test_data %>
  <% end %>
  </td>
  <td class='td-result'>
  <% if prediction.state == 'processing' %>
    <span class='processing'>実行中</span><i class='fa fa-refresh fa-spin'></i>
  <% elsif prediction.state == 'completed' %>
    <% numbers = prediction.results.map(&:number).sort %>
    <span title='<%= numbers.join(',') %>' style='padding: 4px'>
    <% numbers.first(6).each_with_index do |number, i| %>
      <span class='fa-stack prediction-result' style='color: <%= number_color(i) %>'>
        <i class='fa fa-circle fa-stack-2x'></i>
        <i class='fa fa-stack-1x fa-inverse'><%= number %></i>
      </span>
    <% end %>
    <% if numbers.size > 6 %>
      <span>...</span>
    <% end %>
    </span>
  <% else %>
    <span class='glyphicon glyphicon-remove' style='color: red'/>
  <% end %>
  </td>
</tr>
