<tr class='<%= state_to_class(prediction.state) %>'>
  <td>
    <%= time_to_string(prediction.performed_at) %>
  </td>
  <td>
    <%= prediction.model %>
  </td>
  <td class='td-test-data'>
  <% if prediction.test_data.match(URI.regexp(%w[http https])) %>
    <%= link_to prediction.test_data, {:target => :_blank} do %>
      <%= link_text(prediction.test_data) %>
      <span class='bi bi-box-arrow-up-right'></span>
    <% end %>
  <% else %>
    <%= prediction.test_data %>
  <% end %>
  </td>
  <td class='td-result'>
  <% if prediction.state == 'processing' %>
    <span class='processing'>実行中</span><i class='fas fa-sync-alt fa-spin'></i>
  <% elsif prediction.state == 'completed' %>
    <% numbers = prediction.results.where(won: true).map(&:number).sort %>
    <span title='<%= numbers.join(',') %>' style='padding: 4px'>
    <% numbers.first(6).each_with_index do |number, i| %>
      <span class='fa-layers fa-fw fa-2x prediction-result' style='color: <%= number_color(i) %>'>
        <i class='fa fa-circle'></i>
        <i class='fa-layers-text fa-inverse fa-xs'><%= number %></i>
      </span>
    <% end %>
    <% if numbers.size > 6 %>
      <span>...</span>
    <% end %>
    </span>
  <% elsif prediction.state == 'error' %>
    <span class='glyphicon glyphicon-remove' style='color: red'/>
  <% else %>
    <span class='processing'>実行待ち</span>
  <% end %>
  </td>
</tr>
