<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-prediction' class='well tab-pane active'>
      <h3>レースを予測</h3>
      <%= form_for @prediction, :html => {:multipart => true}, :url => predictions_path, :remote => true do |f| %>
        <% {:model => 'モデル', :test_data => 'テストデータ'}.each do |param, text| %>
          <div class='form-group'>
            <%= f.label param, text %><br>
            <%= f.file_field param, {:class => 'form-control', :name => param, :required => true} %>
          </div>
        <% end %>
        <%= f.submit '実行', :class => 'btn btn-primary btn-sm' %>
        <%= f.submit 'リセット', :type => 'reset', :class => 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8'>
    <h4 style='padding: 10px'>ジョブ実行履歴</h4>

    <table class='table table-hover'>
      <thead>
        <% %w[ 実行開始日時 モデル テストデータ 状態 ].each do |header| %>
          <th><%= header %></th>
        <% end %>
      </thead>
      <tbody>
        <%= render @predictions %>
      </tbody>
    </table>
  </div>
</div>
