<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-prediction' class='well'>
      <h3>レースを予測</h3>
      <p>テストデータは<a href='http://db.netkeiba.com' target='_brank'>こちら</a>から</p>
      <%= form_for @prediction, html: {multipart: true}, url: predictions_path, remote: true do |f| %>
        <div class='form-group'>
          <%= f.label :model, 'モデル' %><br>
          <%= f.file_field :model, name: :model %>
        </div>
        <div class='form-group'>
          <%= f.label :test_data, 'テストデータ' %>
          <label><%= radio_button_tag :type, 'file', :checked %> ファイル</label>
          <label><%= radio_button_tag :type, 'url' %> URL</label>
          <br>
          <%= f.file_field :test_data, name: :test_data %>
        </div>
        <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
        <%= f.submit 'リセット', type: 'reset', class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8 well'>
    <h3 class='table-title'>ジョブ実行履歴</h3>
    <span id='page-info'>
      <%= render partial: 'layouts/page_info', locals: {resources: @predictions} %>
    </span>
    <span id='paginate'>
      <%= paginate @predictions %>
    </span>
    <table class='table table-hover'>
      <thead>
        <th width='22%'>実行開始日時</th>
        <th width='26%'>モデル</th>
        <th width='20%'>テストデータ</th>
        <th width='32%'>予測結果</th>
      </thead>
      <tbody>
        <%= render @predictions %>
      </tbody>
    </table>
  </div>
</div>
