<%= javascript_pack_tag 'predictions/manage' %>
<%= stylesheet_pack_tag 'predictions/manage' %>
<%= render 'dialogs/execute_error' %>
<%= render 'predictions/dialogs/execute' %>

<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-prediction' class='card text-dark bg-light'>
      <div class='card-body'>
        <h4 class='card-title'>レースを予測</h4>
        <p>テストデータは<a href='http://db.netkeiba.com' target='_brank'>こちら</a>から</p>
        <%= form_for @prediction, html: {multipart: true}, url: predictions_path, remote: true do |f| %>
          <div class='mb-3'>
            <%= f.label :model, 'モデル', class: 'required label-bold' %><br>
            <%= f.file_field :model, class: 'form-control', name: :model %>
          </div>
          <div class='mb-3'>
            <%= f.label :test_data, 'テストデータ', class: 'label-bold' %>
            <label><%= radio_button_tag :type, 'file', :checked %> ファイル</label>
            <label><%= radio_button_tag :type, 'url' %> URL</label>
            <br>
            <%= f.file_field :test_data, class: 'form-control', name: :test_data %>
          </div>
          <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
          <%= f.submit 'リセット', type: 'reset', class: 'btn btn-default btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-lg-8 card text-dark bg-light'>
    <div class='card-body'>
      <h4 class='card-title table-title'>ジョブ実行履歴</h4>
      <span id='page-info'>
        <%= render partial: 'layouts/page_info', locals: {resources: @predictions} %>
      </span>
      <span id='paginate'>
        <%= paginate @predictions %>
      </span>
      <table id='table-prediction' class='table table-hover'>
        <thead>
          <th width='22%'>実行開始日時</th>
          <th width='26%'>モデル</th>
          <th width='20%'>テストデータ</th>
          <th width='32%'>予測結果</th>
        </thead>
        <tbody>
          <%= render @predictions %>
        </tbody>
      </table>
    </div>
  </div>
</div>
