<tr id='<%= analysis.analysis_id %>' class='table-<%= state_to_class(analysis.state) %>'>
  <td class='performed_at'>
    <%= time_to_string(analysis.performed_at) %>
  </td>
  <td class='data_source'>
    <%= analysis_data_source_option.invert[analysis.data_source] %>
  </td>
  <td class='num_data'>
    <%= analysis.num_data %>
  </td>
  <td class='num_feature'>
    <%= analysis.num_feature %>
  </td>
  <td class='parameter'>
    <button class='btn btn-sm btn-<%= state_to_class(analysis.state) %> btn-param'
            title='パラメーターを確認' data-bs-toggle='tooltip' data-bs-trigger='hover'>
      確認
    </button>
  </td>
  <td class='state'>
  <% case analysis.state %>
  <% when 'processing' %>
    <span class='processing'><%= state_to_title(analysis.state) %></span>
    <i class='fas fa-sync-alt fa-spin'></i>
  <% when 'completed' %>
    <%= link_to analysis_path(analysis.analysis_id), target: :_blank, rel: 'noopener noreferrer' do %>
      <button class='btn btn-sm btn-success' title='分析結果を確認'
              data-bs-toggle='tooltip' data-bs-trigger='hover'>
        <%= state_to_title(analysis.state) %>
        <span class='bi bi-box-arrow-up-right'></span>
      </button>
    <% end %>
  <% else %>
    <%= state_to_title(analysis.state) %>
  <% end %>
  </td>
  <td class='download' style='background-color: #f5f5f5'>
    <%= analysis_result_download_button(analysis) %>
  </td>
  <td class='rebuild' style='background-color: #f5f5f5'>
    <%= form_tag analysis_rebuild_path(analysis.analysis_id), remote: true, style: 'padding: 0px' do %>
      <%= analysis_rebuild_button %>
    <% end %>
  </td>
</tr>
