<tr id='<%= analysis.analysis_id %>'>
  <td class='<%= state_to_class(analysis.state) %> performed_at'>
    <%= time_to_string(analysis.performed_at) %>
  </td>
  <td class='<%= state_to_class(analysis.state) %> num_data'>
    <%= analysis.num_data %>
  </td>
  <td class='<%= state_to_class(analysis.state) %> num_tree'>
    <%= analysis.num_tree %>
  </td>
  <td class='<%= state_to_class(analysis.state) %> num_feature'>
    <%= analysis.num_feature %>
  </td>
  <td class='<%= state_to_class(analysis.state) %> num_entry'>
    <%= analysis.num_entry %>
  </td>
  <td class='<%= state_to_class(analysis.state) %> state'>
  <% if analysis.state == 'processing' %>
    <span class='processing'><%= state_to_title(analysis.state) %></span>
    <i class='fa fa-refresh fa-spin'></i>
  <% else %>
    <%= state_to_title(analysis.state) %>
  <% end %>
  </td>
  <td class='rebuild'>
    <%= button_tag(type: 'button', class: 'btn btn-default rebuild') do %>
      <span class='glyphicon glyphicon-repeat' />
    <% end %>
  </td>
</tr>
