<tr>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= time_to_string(analysis.performed_at) %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= analysis.num_data %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= analysis.num_tree %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= analysis.num_feature %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
    <%= analysis.num_entry %>
  </td>
  <td class='<%= state_to_class(analysis.state) %>'>
  <% if analysis.state == 'processing' %>
    <span class='processing'><%= state_to_title(analysis.state) %></span>
    <i class='fa fa-refresh fa-spin'></i>
  <% else %>
    <%= state_to_title(analysis.state) %>
  <% end %>
  </td>
  <td class='rebuild'>
    <%= form_tag analyses_path, remote: true, style: 'padding: 0px' do %>
      <%= hidden_field_tag :num_data, analysis.num_data, id: "num_data-#{analysis.analysis_id}" %>
      <%= hidden_field_tag :num_tree, analysis.num_tree, id: "num_tree-#{analysis.analysis_id}" %>
      <%= hidden_field_tag :num_entry, analysis.num_entry, id: "num_entry-#{analysis.analysis_id}" %>
      <%= button_tag type: :submit, class: 'btn btn-default' do %>
        <span class='glyphicon glyphicon-repeat' />
      <% end %>
    <% end %>
  </td>
</tr>
