<%= javascript_pack_tag 'analyses/index' %>
<%= stylesheet_pack_tag 'analyses/index' %>
<%= render 'dialogs/execute_error' %>
<%= render 'analyses/dialogs/parameter' %>
<%= render 'analyses/dialogs/parameter_error' %>
<%= render 'analyses/dialogs/execute' %>
<%= render 'analyses/dialogs/download_error' %>

<div class='row center-block'>
  <div class='col-lg-3'>
    <ul class='nav nav-tabs'>
      <li class='nav-item'>
        <%= button_tag '登録', tab_params('new-analysis', true) %>
      </li>
      <li class='nav-item'>
        <%= button_tag '検索', tab_params('search-form', false).merge(id: 'tab-index') %>
      </li>
    </ul>

    <div class='tab-content'>
      <div id='new-analysis' class='card text-dark bg-light tab-pane active'>
        <div class='card-body'>
          <h4 class='card-title'>レースを分析</h4>
          <h5>
            <span style='color: red'>* </span>は必須項目です
          </h5>
          <%= form_for @new_analysis, url: analyses_path, remote: true do |f| %>
            <div class='mb-3'>
              <%= f.label :data, '学習データ', class: 'required label-bold' %><br>
              <%= label_tag :data_source, '指定方法:', {style: 'font-weight: normal'} %>
              <% params = {id: 'analysis_data_source'} %>
              <%= select_tag :data_source, options_for_select(analysis_data_source_option), params %>
              <div class='form-block-data-source'>
                <% params = {class: 'required', for: 'analysis_data_random', style: 'font-weight: normal'} %>
                <%= f.label :num_data, 'データ数', params %>
                <% params = {
                     id: 'analysis_data_random',
                     class: 'form-control form-data-source',
                     name: 'num_data',
                   } %>
                <%= f.text_field :num_data, params %>
              </div>
              <div class='form-block-data-source not-selected'>
                <% params = {
                     id: 'analysis_data_file',
                     class: 'form-control form-data-source',
                     name: 'data_file',
                     disabled: true,
                   } %>
                <%= f.file_field :data_file, params %>
              </div>
            </div>
            <div class='mb-3'>
              <%= f.label :num_entry, 'エントリー数', class: 'label-bold' %><br>
              <%= f.text_field :num_entry, class: 'form-control', name: :num_entry %>
            </div>
            <div class='mb-3'>
              <div id='label-register-parameter' class='label-bold'>パラメーター</div>
              <%= f.fields_for :parameter do |param_form| %>
                <div class='mb-2'>
                  <%= param_form.label :max_depth, 'max_depth' %>
                  <%= question_sign(:max_depth) %>
                  <% option = {name: 'parameter[max_depth]', class: 'form-control'} %>
                  <%= param_form.text_field :max_depth, option %>
                </div>
                <div class='mb-2'>
                  <%= param_form.label :max_features, 'max_features' %>
                  <%= question_sign(:max_features) %>
                  <% option = {name: 'parameter[max_features]', class: 'form-select'} %>
                  <%= param_form.select :max_features, [['sqrt'], ['log2'], ['all']], {}, option %>
                </div>
                <div class='mb-2'>
                  <%= param_form.label :max_leaf_nodes, 'max_leaf_nodes' %>
                  <%= question_sign(:max_leaf_nodes) %>
                  <% option = {name: 'parameter[max_leaf_nodes]', class: 'form-control'} %>
                  <%= param_form.text_field :max_leaf_nodes, option %>
                </div>
                <div class='mb-2'>
                  <%= param_form.label :min_samples_leaf, 'min_samples_leaf' %>
                  <%= question_sign(:min_samples_leaf) %>
                  <% option = {name: 'parameter[min_samples_leaf]', class: 'form-control'} %>
                  <%= param_form.text_field :min_samples_leaf, option %>
                </div>
                <div class='mb-2'>
                  <%= param_form.label :min_samples_split, 'min_samples_split' %>
                  <%= question_sign(:min_samples_split) %>
                  <% option = {name: 'parameter[min_samples_split]', class: 'form-control'} %>
                  <%= param_form.text_field :min_samples_split, option %>
                </div>
                <div class='mb-2'>
                  <%= param_form.label :num_tree, 'num_tree' %>
                  <%= question_sign(:num_tree) %>
                  <% option = {name: 'parameter[num_tree]', class: 'form-control'} %>
                  <%= param_form.text_field :num_tree, option %>
                </div>
              <% end %>
            </div>
            <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
            <% attribute = {type: 'reset', id: 'btn-register-reset', class: 'btn btn-default btn-sm'} %>
            <%= f.submit 'リセット', attribute %>
          <% end %>
        </div>
      </div>

      <div id='search-form' class='card text-dark bg-light tab-pane'>
        <div class='card-body'>
          <h4 class='card-title'>ジョブを検索</h4>

          <%= form_with url: analyses_path, method: :get, id: 'form-index', html: {onClick: 'return false;'} do |f| %>
            <div class='mb-3'>
              <% option = {id: 'label-index-num_data', class: 'label-bold', for: 'input-index-num_data'} %>
              <%= f.label :num_data, '学習データ数', option %>
              <% option = index_input_common_option('num_data') %>
              <%= f.text_field :num_data, option.merge(name: 'num_data', value: @index_form.num_data) %>
            </div>

            <div id='label-index-parameter' class='label-bold'>パラメーター</div>
            <%= f.fields :parameter do |param_form| %>
              <div class='mb-2'>
                <% option = parameter_label_option('max_depth') %>
                <%= param_form.label :max_depth, 'max_depth', option %>
                <% option = parameter_input_option('max_depth', @index_form.parameter) %>
                <%= param_form.text_field :max_depth, option %>
              </div>
              <div class='mb-2'>
                <% option = parameter_label_option('max_features') %>
                <%= param_form.label :max_features, 'max_features', option %>
                <% values = [[], ['sqrt'], ['log2'], ['all']] %>
                <% value_option = {selected: @index_form.parameter['max_features']} %>
                <% option = parameter_input_option('max_features') %>
                <%= param_form.select :max_features, values, value_option, option %>
              </div>
              <div class='mb-2'>
                <% option = parameter_label_option('max_leaf_nodes') %>
                <%= param_form.label :max_leaf_nodes, 'max_leaf_nodes', option %>
                <% option = parameter_input_option('max_leaf_nodes', @index_form.parameter) %>
                <%= param_form.text_field :max_leaf_nodes, option %>
              </div>
              <div class='mb-2'>
                <% option = parameter_label_option('min_samples_leaf') %>
                <%= param_form.label :min_samples_leaf, 'min_samples_leaf', option %>
                <% option = parameter_input_option('min_samples_leaf', @index_form.parameter) %>
                <%= param_form.text_field :min_samples_leaf, option %>
              </div>
              <div class='mb-2'>
                <% option = parameter_label_option('min_samples_split') %>
                <%= param_form.label :min_samples_split, 'min_samples_split', option %>
                <% option = parameter_input_option('min_samples_split', @index_form.parameter) %>
                <%= param_form.text_field :min_samples_split, option %>
              </div>
              <div class='mb-2'>
                <% option = parameter_label_option('num_tree') %>
                <%= param_form.label :num_tree, 'num_tree', option %>
                <% option = parameter_input_option('num_tree', @index_form.parameter) %>
                <%= param_form.text_field :num_tree, option %>
              </div>
            <% end %>

            <%= f.submit '検索', id: 'btn-analysis-search', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-lg-9 card text-dark bg-light'>
    <div class='card-body'>
      <h4 class='card-title table-title'>ジョブ実行履歴</h4>
      <span id='page-info'>
        <%= render partial: 'layouts/page_info', locals: {resources: @analyses} %>
      </span>
      <span id='paginate'>
        <%= paginate @analyses %>
      </span>
      <table id='table-analysis' class='table table-hover'>
        <thead>
          <% analysis_table_headers.each do |header| %>
            <th width='<%= header[:width] %>%'><%= header[:name] %></th>
          <% end %>
          <th width='5%' class='download'></th>
          <th width='5%' class='rebuild'></th>
        </thead>
        <tbody id='tbody-analysis'>
          <%= render @analyses %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

</script>
