<div class='row center-block'>
  <div class='col-lg-4'>
    <div id='new-analysis' class='well'>
      <h3>レースを分析</h3>
      <%= form_for @analysis, url: analyses_path, remote: true do |f| %>
        <div class='form-group'>
          <%= f.label :num_data, '学習データ数', class: 'required' %><br>
          <%= f.text_field :num_data, class: 'form-control', name: :num_data %>
        </div>
        <div class='form-group'>
          <%= f.label :num_tree, '決定木の数', class: 'required' %><br>
          <%= f.text_field :num_tree, class: 'form-control', name: :num_tree %>
        </div>
        <div class='form-group'>
          <%= f.label :num_entry, 'エントリー数' %><br>
          <%= f.text_field :num_entry, class: 'form-control', name: :num_entry %>
        </div>
        <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
        <%= f.submit 'リセット', type: 'reset', class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8 well'>
    <h3 class='table-title'>ジョブ実行履歴</h3>
    <% from = @analyses.total_count == 0 ? 0 : @analyses.offset_value + 1 %>
    <% info = {total_count: @analyses.total_count, from: from, to: @analyses.offset_value + @analyses.size} %>
    <h4 class='pagination-info'><%= t('views.pagination.info', info) %></h4>
    <%= paginate @analyses %>
    <table id='table-analysis' class='table table-hover'>
      <thead>
        <% analysis_table_headers.each do |header| %>
          <th width='<%= header[:width] %>%'><%= header[:name] %></th>
        <% end %>
        <th class='rebuild'></th>
      </thead>
      <tbody>
        <%= render @analyses %>
      </tbody>
    </table>
  </div>
</div>
