<div class='row center-block'>
  <div class='col-lg-3'>
    <div id='new-analysis' class='well'>
      <h3>レースを分析</h3>
      <h4>
        <span style='color: red'>* </span>は必須項目です
      </h4>
      <%= form_for @analysis, url: analyses_path, remote: true do |f| %>
        <div class='form-group'>
          <%= f.label :num_data, '学習データ数', class: 'required' %><br>
          <%= f.text_field :num_data, class: 'form-control', name: :num_data %>
        </div>
        <div class='form-group'>
          <%= f.label :num_entry, 'エントリー数' %><br>
          <%= f.text_field :num_entry, class: 'form-control', name: :num_entry %>
        </div>
        <div class='form-group'>
          <a href='#parameter' class='collapse-parameter glyphicon glyphicon-chevron-right' data-toggle='collapse' aria-expanded='false' aria-controls='parameter'>
          パラメーター設定
          </a>
        </div>
        <div id='parameter' class='collapse'>
          <%= f.fields_for :parameter do |param_form| %>
            <div class='form-group'>
              <%= param_form.label :max_depth, 'max_depth' %>
              <span class='glyphicon glyphicon-question-sign' title='木の深さの最大値'></span>
              <br>
              <%= param_form.text_field :max_depth, name: 'parameter[max_depth]', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= param_form.label :max_features, 'max_features' %>
              <span class='glyphicon glyphicon-question-sign' title='決定木の生成に使用する素性数の最大値'></span>
              <br>
              <%= param_form.select :max_features, [['sqrt'], ['log2'], ['all']], {}, name: 'parameter[max_features]', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= param_form.label :max_leaf_nodes, 'max_leaf_nodes' %>
              <span class='glyphicon glyphicon-question-sign' title='葉ノード数の最大値'></span>
              <br>
              <%= param_form.text_field :max_leaf_nodes, name: 'parameter[max_leaf_nodes]', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= param_form.label :min_samples_leaf, 'min_samples_leaf' %>
              <span class='glyphicon glyphicon-question-sign' title='葉ノードに存在するデータの最小値'></span>
              <br>
              <%= param_form.text_field :min_samples_leaf, name: 'parameter[min_samples_leaf]', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= param_form.label :min_samples_split, 'min_samples_split' %>
              <span class='glyphicon glyphicon-question-sign' title='中間ノードに存在するデータの最小値'></span>
              <br>
              <%= param_form.text_field :min_samples_split, name: 'parameter[min_samples_split]', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= param_form.label :num_tree, 'num_tree' %>
              <span class='glyphicon glyphicon-question-sign' title='決定木の数'></span>
              <br>
              <%= param_form.text_field :num_tree, name: 'parameter[num_tree]', class: 'form-control' %>
            </div>
          <% end %>
        </div>
        <%= f.submit '実行', class: 'btn btn-primary btn-sm btn-submit' %>
        <%= f.submit 'リセット', type: 'reset', class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-9 well'>
    <h3 class='table-title'>ジョブ実行履歴</h3>
    <% from = @analyses.total_count == 0 ? 0 : @analyses.offset_value + 1 %>
    <% info = {total_count: @analyses.total_count, from: from, to: @analyses.offset_value + @analyses.size} %>
    <h4 class='pagination-info'><%= t('views.pagination.info', info) %></h4>
    <%= paginate @analyses %>
    <table id='table-analysis' class='table table-hover'>
      <thead>
        <% analysis_table_headers.each do |header| %>
          <th width='<%= header[:width] %>%'><%= header[:name] %></th>
        <% end %>
        <th class='rebuild'></th>
      </thead>
      <tbody id='tbody-analysis'>
        <%= render @analyses %>
      </tbody>
    </table>
  </div>
</div>

<div class='modal fade' id='dialog-parameter' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
          &times;
        </button>
        <h4>
          パラメーター
        </h4>
      </div>
      <div class='modal-body'>
        <div class='bootbox-body'>
          <div class='form-group'>
            <table class='table'>
              <thead>
                <th>名前</th>
                <th>値</th>
              </thead>
              <tbody>
                <% %w[
                  max_depth
                  max_features
                  max_leaf_nodes
                  min_samples_leaf
                  min_samples_split
                  num_tree
                ].each do |name| %>
                <tr>
                  <td><%= name %></td>
                  <td id='parameter-<%= name %>'></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button id='btn-modal-ok' class='btn btn-primary'>OK</button>
      </div>
    </div>
  </div>
</div>
