<%= javascript_pack_tag 'analyses/show' %>
<%= stylesheet_pack_tag 'analyses/show' %>

<h3>分析結果</h3>
<ul class='nav nav-tabs'>
  <li class='nav-item active'>
    <%= button_tag '重要度', tab_params('tab-importance', true) %>
  </li>
  <li class='nav-item'>
    <%= button_tag '決定木', tab_params('tab-decision_tree', false) %>
  </li>
</ul>

<div class='tab-content'>
  <div id='tab-importance' class='card text-dark bg-light tab-pane active'>
    <div class='card-body'>
      <h4 class='card-title'>重要度</h4>
      <svg id='importance'></svg>
    </div>
  </div>

  <div id='tab-decision_tree' class='card text-dark bg-light tab-pane'>
    <div class='card-body'>
      <h4 class='card-title'>決定木</h4>
      <div class='form-inline'>
        <%= label_tag :decision_tree_id, 'Tree ID' %>
        <% decision_trees = @analysis.result.decision_trees %>
        <% options = decision_trees.map.with_index {|tree, i| [i, tree.decision_tree_id] }.to_h %>
        <% params = {include_blank: true, class: 'form-select'} %>
        <%= select_tag :decision_tree_id, options_for_select(options, selected: options.invert[0]), params %>
      </div>
      <svg id='decision_tree'></svg>
    </div>
  </div>
</div>
