<!DOCTYPE html>
<html>
  <head>
    <title>Alterf</title>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class='navbar navbar-expand-lg navbar-dark bg-dark' style='font-weight:200; margin-bottom:20px'>
      <div class='container-fluid'>
        <span class='navbar-brand' style='color: gray'>Horse-Race Estimator</span>
        <div class='collapse navbar-collapse'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <%= link_to '分析画面', analyses_path, {id: 'nav-link-analysis', class: 'nav-link'} %>
            </li>
            <li class='nav-item'>
              <%= link_to '予測画面', predictions_path, {id: 'nav-link-prediction', class: 'nav-link'} %>
            </li>
            <li class='nav-item'>
              <%= link_to '評価画面', evaluations_path, {id: 'nav-link-evaluation', class: 'nav-link'} %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id='main-content' class='container'>
      <%= yield %>
    </div>
  </body>
</html>
